# Binaries
/alertfly
alertfly.exe
*.exe
*.old

# Build output
/build/

# IDE
.idea/
.vscode/

# Go module cache
.gomodcache/
.gopath/
.gocache/
vendor/

# Go build cache & toolchain
.go-cache/
.go-mod-cache/
.go/

# Temp
*.tmp
*.download
